data/original/TampaGIS-selected/* filter=lfs diff=lfs merge=lfs -text
data/original/TampaGIS-selected/TampaUTC2016_Rasters.gdb/a0000000c.band_index.atx filter=lfs diff=lfs merge=lfs -text
data/original/TampaGIS-selected/TampaUTC2016_Rasters.gdb/a0000000c.band_index.atxx filter=lfs diff=lfs merge=lfs -text
